html, body{
  height: 100%;
  width: 100%;
  background-color: lightGrey;
}

input, textarea{
  margin: 5vh;
  background-color: purple;
  display: inline-block;
  float: left;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 50px;
    text-align: right;
}


