 @media screen and (max-width: 47.9999em) {
   .person img{
     aspect-ratio: 1/1;
     z-index: -1;
     width: 80vw;
     border-color: #DDDDDD;
     border-radius: 5px;
     margin-top: 5vh;
   }
   .imageBorder{
     border: solid 1vw;
     height: 80vw;
     border-radius: 10px;
   }

   h1{
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     width: 80%;
     top: 60vw;
     font-family: "Times New Roman";
     font-weight: normal;
     color: white;
   }
  p{
     max-width: 70%;
     font-size: 1em;
  }
}
@media screen and (min-width:48em)
{
  .container{
   display: grid;
   place-items: center;
   width: 95%;
   gap: 2em;
   place-items: start center;
   grid-template-areas:
    "header header"
    "person publications"
    "person patents";
   grid-template-rows: 10vh 45vh 45vh;
   grid-template-columns: 1fr 2fr;
  }
 .person img{
     aspect-ratio: 1/1;
     z-index: -1;
     width: 25vw;
     border-radius: 5px;
   }
   .imageBorder{
     border: solid 1vw;
     aspect-ratio: 1/1;
     width: 25vw;
     border-radius: 10px;
   }
 p{
  max-height: 20%;
  font-size: 2em;
}
 h1{
  font-size: 3em;
 }
 h2{
  font-size: 2em;
 }
 li{
  font-size: 1.5em
 }
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #54D1F3;
  grid-area: header;
  width: 100vw;
}
.header img {
  display: block;
  max-width: 40%;
  max-height: 90%;
  width: auto;
  height: auto;
}
.nav{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}
.nav a{
  text-decoration: none;
  font-family: arial;
  color: white;
}
.person{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  grid-area: person;
}
.patents{
 grid-area: patents;
}
.publications{
 grid-area: publications;
}

p{
  color: purple;
  font-family: Helvetica;
}
h2{
  font-style: bold;
  font-family: Georgia;
}
body{
  background-color: #EEEEEE;
  color: darkBrown;
}
