html, body{
  height: 100%;
  width: 100%;
  background-color: lightGrey;
}
.container form{
  dispLay: grid;
  grid-template-areas: 
  "fnameLabel fname"
  "lnameLabel lname"
  "emailLabel email"
  "phoneLabel phone"
  "companyLabel company"
  "messageLabel message"
  "submit submit"
    ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

input, textarea{
  margin: 5vh;
  background-color: purple;
  display: inline-block;
  float: left;
}
label{
    place-self: center end;
}
label[for="fname"]
  {
    grid-area: fnameLabel;
  }
input[name="fname"]
  {
    grid-area: fname;
  }
  label[for="lname"]
  {
    grid-area: lnameLabel;
  }
input[name="lname"]
  {
    grid-area: lname;
  }
  label[for="email"]
  {
    grid-area: emailLabel;
  }
input[name="email"]
  {
    grid-area: email;
  }
  label[for="phone"]
  {
    grid-area: phoneLabel;
  }
input[name="phone"]
  {
    grid-area: phone;
  }
  label[for="company"]
  {
    grid-area: companyLabel;
  }
input[name="company"]
  {
    grid-area: company;
  }
  label[for="message"]
  {
    grid-area: messageLabel;
  }
input[name="message"]
  {
    grid-area: message;
  }
.submit{
  grid-area: submit;
}
  

